/*секция header*/ 
.header__lang-link {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1.17;
    margin-left: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s linear;
    cursor: pointer;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media  screen and (max-width: 320px) {
    .header__lang-link {
       font-size: 18px;
       line-height: 20px;
    }
}