/*секция intro*/ 
.intro {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 94%;
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 90%;
        margin: 0 auto 64px;
    }
}