.lead__subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin-bottom: 56px;
    }
  }

  @media screen and (max-width: 767px) {
    .lead__subtitle {
       max-width: 90%;
    }
  }

  @media screen and (max-width: 425px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

 