/*секция cover*/ 
.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
    display: flex;
     
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
       margin: 0 auto 88px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
       margin: 0 auto 64px;
    }
}